<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="jquery.jsonPresenter.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="jquery.jsonPresenter.js"></script>

    <script>
        function getToken() {
            var hostname = window.location.origin;
            $.ajax({
                // url: "https://telemedicine-api-delightful-roan.34.203.146.2.xip.io/",
                url: hostname+"/oauth/token",
                type: "POST"
                , dataType: "json"
                // , jsonp : "jsonp"
                , contentType: "application/json"
                , crossDomain: true,
                xhrFields: {
                    withCredentials: true
                }
                , headers: {
                    'Authorization': 'Basic Y3JtQ2xpZW50MTpjcm1TdXBlclNlY3JldA==',
                    'Cache-Control': 'no-cache',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    "Access-Control-Allow-Origin": "*"
                    , "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS"
                    , "Access-Control-Allow-Headers": "origin, x-requested-with, content-type, accept"
                },
                data: {'username': $('#userid').val(), 'password': $('#userpw').val(), 'grant_type': "password"}
            }).then(function (data) {
                $('#stoken').val(data.access_token);
               // $('#srefresh_token').val(data.refresh_token);
            });
        }

        function setUrl(){
            var hostname = window.location.origin;
            //var sdomain = $(location).attr('host');
            $('#surl').val( hostname+$('#apiid').val());
        }

        function getData() {
            $.ajax({
                // url: "https://telemedicine-api-delightful-roan.34.203.146.2.xip.io/",
                //url: "http://localhost:8080"+$('#apiid').val(),
                url: $('#surl').val(),
                type: "GET"
                , dataType: "json"
                , contentType: "application/json"
                , crossDomain: true
                , xhrFields: {
                    withCredentials: true
                }
                , headers: {
                    'Authorization': 'Basic Y3JtQ2xpZW50MTpjcm1TdXBlclNlY3JldA==',
                    'Cache-Control': 'no-cache',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    "Access-Control-Allow-Origin": "*"
                    //,"Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS"
                    //,"Access-Control-Allow-Headers": "origin, x-requested-with, content-type, accept"
                    , "Authorization": "Bearer " + $('#stoken').val()
                }
                //,data: {'username': $('#userid').val(), 'password': $('#userpw').val(),'grant_type': "password"}
            }).then(function (data) {
                $('#json-container').jsonPresenter({
                    json: data, // JSON objects here
                });
            });
        }
    </script>
</head>
<body>
<!--
<div>static main
    <br>id:<input type="text" name="userid" id="userid" >
    <br>pw:<input type="text" name="userpw" id="userpw" value="1234">
    <a href="javascript:getToken()">getToken</a>
    <br>access_token:<input type="text" name="stoken" id="stoken" size="50">
    <br>refresh_token:<input type="text" name="srefresh_token" id="srefresh_token" size="50">
    <br> <a href="javascript:getData()">getData</a>
</div>
-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h1></h1>
                <h2>Telemedicine Open Api Test Form</h2></div>
                <div class="form-group ">
                    <label for="userid" >ID</label>
                    <input type="text" class="form-control" id="userid" value="do">
                </div>
                <div class="form-group">
                    <label for="userpw">Password</label>
                    <input type="password" class="form-control" id="userpw" value="1234">
                </div>
                <div class="form-group">
                    <label for="userpw">Access Token</label>
                    <input type="text" class="form-control" name="stoken" id="stoken" >
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="getToken" onclick="getToken()">
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="apiid" onchange="setUrl()">
                            <option selected>Choose...</option>
                            <option value="/api">OPEN API Repository 목록</option>
                            <option value="/api/member">회원정보</option>
                            <option value="/api/telemedicines">원격진료정보</option>
                            <option value="/api/lifelogca">크로이드 스마트밴드 활동량</option>
                            <option value="/api/lifelogca250">크로이드 스마트밴드 활동량 250</option>
                            <option value="/api/lifelogcs">크로이드 스마트밴드 수면</option>
                            <option value="/api/lifelogcs250">크로이드 스마트밴드 수면 250</option>
                            <option value="/api/lifelogrb">리본혈당</option>s
                            <option value="/api/lifelogbb">보령협압</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="apiid" >API</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"  id="surl">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="getData()">Go</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div id="json-container">...</div>
                </div>



        </div>
    </div>
</div>

</body>
</html>