<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        function getToken(){
            $.ajax({
                url: "http://telemedicine-api-delightful-roan.34.203.146.2.xip.io/",
                //  url: "http://localhost:8080/oauth/token",
                type:"POST"
                , dataType : "json"
               // , jsonp : "jsonp"
                , contentType : "application/json"
               // crossDomain:true,
                , headers: {  'Authorization': 'Basic Y3JtQ2xpZW50MTpjcm1TdXBlclNlY3JldA==',
                            'Cache-Control': 'no-cache',
                            'Content-Type' : 'application/x-www-form-urlencoded',
                            "Access-Control-Allow-Origin": "*"
                            ,"Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS"
                           // ,"Access-Control-Allow-Headers": "origin, x-requested-with, content-type, accept"
                },
                data: {'username': "do", 'password': "1234",'grant_type': "password"}
            }).then(function(data) {
                $('#stoken').val(data.access_token);
                $('#srefresh_token').val(data.refresh_token);
            });
        }
    </script>
</head>
<body>
<div>static main
    <a href="javascript:getToken()">getToken</a>
    <br><input type="text" name="stoken" id="stoken">
    <br><input type="text" name="srefresh_token" id="srefresh_token">
</div>
</body>
</html>